// Less destinado ao estilo em telas maiores

@media only screen and (min-device-width: 768px) {
  //Remove elementos do mobile
  #mobile-menu-icon, span.icon-search {
    display: none;
  }

  //Ajusta a barra de login
  header {
    #top-bar {
      #login-menu {
        padding: 5px 15px;
      }
    }

    //Ajusta os itens da segunda linha do header
    #top-middle {
      #search {
        input {
          &#input-search {
            width: 250px;
            height: 40px;
          }
        }

        button {
          &#btn-search {
            margin-left: -5px;
            padding: 12px 30px;
            font-size: 15px;
            font-weight: 800;
            text-transform: uppercase;
            color: @write;
            background: @parsian-red;
            border: none;
          }
        }
      }
    }

    //Ajusta o menu para desktop
    #top-menu {
      display: flex;
      justify-content: center;
      color: @write;
      background: @parsian-red;

      ul {
        &#mmenu {
          padding: 40px 0;

          li {
            padding: 40px;
            display: inline;
            list-style: none;
          }
        }
      }
    }
  }

  //Ajusta o bradcrumbs para desktop
  #breadcrumbs {
    padding: 25px;
    font-size: 25px;
  }

  //Ajusta o main content para mobile
  #main {
    padding: 20px;

    #filters {
      width: 20%;

      #filterBy {

        h2 {
          &.filterTitle {
            font-size: 30px;
          }
        }

        h3 {
          font-size: 25px;
          padding-top: 5px;
        }

        .categories:not(.filter-2) {
          padding-left: 40px;

          ul {
            li {
              font-size: 25px;
            }
          }
        }
      }
    }

    //Ajusta área de catalogo para desktop
    #catalog {
      width: 100%;
      padding-left: 10px;
      hr {
        margin: 10px 0;
      }
      h1 {
        font-size: 50px;
        padding: 0px;
      }

      #ordenate {
        padding: 0;
        label {
          font-size: 15px;
        }
        select {
          padding: 5px;
          font-size: 20px;
          width: 300px;
          #ordem {
            option {

            }
          }
        }
        #listing {
          padding: 0 15px;
          font-size: 25px;
        }
      }

      #products {
        .item {
          width: 32%;
          .name {
            font-size: 25px;
          }
          .old-price {
            font-size: 20px;
          }
          .price {
            font-size: 35px;
          }
        }
      }
    }
  }
  // Trata o display grid ou lista

  #main {
    #catalog {
      #products {
        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
        .item {
          &.list {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) {
  //Ajusta o main content para mobile
  #main {
    //Ajusta área de catalogo para desktop
    #catalog {
      #products {
        .item {
          width: 24%;
          &.list {
            width: 100%;
            .name {
              padding-left: 50px;
            }
          }
          .name {
            font-size: 25px;
          }
          .old-price {
            font-size: 20px;
          }
          .price {
            font-size: 35px;
          }
        }
      }
    }
  }
  // Trata o display grid ou lista

  #main {
    #catalog {
      #products {
        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
        .item {
          &.list {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1440px) {
  // Define o container para dispositivos => 1440
  .container {
    margin: 0 15%;
  }
  //Ajusta o main content para mobile
  #main {
    //Ajusta área de catalogo para desktop
    #catalog {
      #products {
        .item {
          width: 24%;
          .name {
            font-size: 25px;
          }
          .old-price {
            font-size: 20px;
          }
          .price {
            font-size: 35px;
          }
        }
      }
    }
  }
  // Trata o display grid ou lista

  #main {
    #catalog {
      #products {
        &.list {
          flex-wrap: nowrap;
          flex-direction: column;
        }
        .item {
          &.list {
            display: flex;
            width: 100%;
          }
        }
      }
    }
  }
}

// Adiciona estilos do popup de carrinho
.addToCart {
  width: 100%;
  height: 100%;
  background: @gray;
  opacity: 0.5;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
  &.active {
    display: flex;
  }
}

.windowCart {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  &.active {
    display: flex;
  }
  .addCartWindow {
    width: 28%;
    height: 32%;
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    display: none;
    -webkit-box-shadow: -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    box-shadow:         -5px 0px 30px 16px rgba(50, 50, 50, 0.5);
    .middle {
      #pricePopup {
        font-size: 40px;
        font-weight: 800;
        color: @parsian-red;
        padding: 0 15px;
      }
    }
    img {
      &#imgPopup {
        width: 250px;
        height: 200px;
        border: 1px solid @gray;
      }
    }
    #namePopup {
      padding: 10px 0;
    }
    button {
      width: 30%;
      border: none;
      padding: 5px;
      font-weight: 800;
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      background: red;
      border-radius: 10px;
      cursor: pointer;
    }
    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}