// This less file contains styles for small devices

@media only screen and (max-device-width: 767px) {

  // Remove itens do desktop
  #input-search, #btn-search, .buy, #main #catalog #ordenate #listing, hr {
    display: none;
  }

  header {
    &#header {
      #top-bar {
        justify-content: center;

        ul {
          padding: 20px 0;

          li {
            font-size: 40px;
          }
        }
      }

      #mobile-menu-icon {
        .icon-menu:before {
          font-size: 80px;
          content: "\e901";
        }
      }

      #search {
        .icon-search:before {
          font-size: 80px;
          content: "\e900";
        }
      }
    }
  }

  #top-menu {
    display: none;
    width: 100%;
    height: 100%;
    background: @thunder;
    color: @write;
    position: fixed;
  }

  #mmenu {
    text-align: center;
    width: 100%;
    color: @write;
    padding: 50px 20px;

    li {
      padding: 40px 0;
      font-size: 60px;
    }
  }

  #main {
    flex-direction: column;
    padding: 10px 20px;

    .categories {
      display: none;
      padding-left: 60px;

      ul {
        li {
          font-size: 25px;
        }
      }
    }

    #catalog {
      #ordenate {
        justify-content: center;

        .options {
          select {
            &#ordem {
              width: 640px;

              option {
                font-size: 12px;
              }
            }
          }
        }
      }

      #products {
        .item {
          padding: 0 8px;
          .img {
            img {
              height: 480px;
            }
          }
          .name {
            .old-price {
              font-size: 1.2em;
            }
            .price {
              font-size: 1.7em;
            }
          }
        }
      }
    }
  }

  // Trata o tamanho das imagens de filtro para mobile

  #filters {
    #filterBy {
      .categories {
        ul {
          &#cores {
            li {
              a {
                img {
                  width: 100px;
                  padding: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}