@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iqqit1');
  src:  url('fonts/icomoon.eot?iqqit1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iqqit1') format('truetype'),
    url('fonts/icomoon.woff?iqqit1') format('woff'),
    url('fonts/icomoon.svg?iqqit1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-menu:before {
  content: "\e9bd";
}
